#banner{
    height: 100vh;
    width: 100%;
    background-image: url("/src/assets/imagenes_board/fondo\ 1_Mesa\ de\ trabajo\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
}
.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.form-card {
  background: white;
  border-radius: 15px;
  padding: 0 0 15px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.form-header {
  text-align: center;
  border-radius: 15px 15px 0 0;
  background-color: rgb(2, 2, 45);
  color: white;
  padding: 45px 0 15px 0;
  margin-bottom: 20px;
}

.form-header h2 {
  padding-top: 10px;
  font-size: 18px;
}

.form-header p {
  font-size: 15px;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.form-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
}

button {
  background-color: #001733;
  color: white;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}